apiVersion: batch/v1
kind: CronJob
metadata:
  name: econ-backup-weekly
spec:
  schedule: "0 0 * * 0"  # 매주 일요일 00:00
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: backup
              image: curlimages/curl:8.10.1
              env:
                - name: BACKUP_FORMAT
                  value: "all"   # all|sqlite|json|csv
              args:
                - -sS
                - -X
                - POST
                - "http://econ-api-svc:8000/backup?format=$(BACKUP_FORMAT)"
